[MESSAGES CONTROL]

disable=
    import-error,
    missing-docstring,
    invalid-name,
    bare-except,
    broad-except,
    fixme,
    dangerous-default-value,
    too-few-public-methods,
    useless-object-inheritance