sudo: false
language: python
os:
  - linux
python:
  - "3.7"
  - "3.8"
  - "3.9"
install: pip install tox-travis
script: tox
before_install:
  - if [[ $TRAVIS_PYTHON_VERSION == 3.7 ]]; then pip install -U importlib_metadata; fi
